.lead {
	line-height: 1.5;
	font-size: 22px;
	font-weight: 300;
	opacity: 0.8;
}

.drop-caps {
	overflow: hidden;
}

.drop-caps:first-letter {
	font-family: Georgia;
	font-size: $size-h1*2;
	float: left;
	line-height: 60px;
	padding-right: 8px;
}

.list {
	margin-left: 16px;
}

.list li {
	list-style: disc;
}

.list li:not(:last-child) {
	padding-bottom: 8px;
}

hr {
	border-color: $light;
	border-width: 3px;
	border-style: solid;
}

hr.is-dashed {
	border-style: dashed;
}
hr.is-double {
	border-style: double;
}
hr.is-dotted {
	border-style: dotted;
}