.h-auto {
  height: auto;
  @include query-style {
    height: auto;
  }
}

.h-0 {
  height: 0;
  @include query-style {
    height: 0;
  }
}

.h-100 {
  height: 100%;
  @include query-style {
    height: 100%;
  }
}

.h-100v {
  height: 100vh;
  @include query-style {
    height: 100vh;
  }
}

@for $i from 1 through $pm-amount {
  .h-#{$i*4} {
    height: 0px + $i*4;
  }
}

@for $i from 1 through $pm-amount {
  .h-#{$i*4} {
    @include query-style {
      height: 0px + $i*4;
    }
  }
}