.w-auto {
  width: auto;
  @include query-style {
    width: auto;
  }
}

.w-0 {
  width: 0;
  @include query-style {
    width: 0;
  }
}

.w-100 {
  width: 100%;
  @include query-style {
    width: 100%;
  }
}

@for $i from 1 through $pm-amount {
  .w-#{$i*4} {
    width: 0px + $i*4;
  }
}

@for $i from 1 through $pm-amount {
  .w-#{$i*4} {
    @include query-style {
      width: 0px + $i*4;
    }
  }
}