@charset "UTF-8";
/*!
* karasu@component -  v0.3.4
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
.btn {
  --bg: var(--light);
  --txt: var(--text);
  background: var(--bg);
  color: var(--txt);
  text-align: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  line-height: 46px;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s; }

.btn .btn-icon {
  text-align: center;
  margin-right: 12px;
  font-size: 18px;
  display: inline-block; }

.btn.is-only-icon {
  width: 46px;
  height: 46px;
  line-height: inherit;
  padding: 0;
  justify-content: center; }

.btn.is-only-icon .btn-icon {
  margin-right: 0; }

.btn.offset-left {
  margin-left: 8px; }

.btn.offset-top {
  margin-top: 8px; }

.btn.offset-right {
  margin-right: 8px; }

.btn.offset-bottom {
  margin-bottom: 8px; }

.btn.is-badge {
  padding: 0 8px;
  height: 24px;
  font-size: 12px; }

.btn.is-color {
  --bg: var(--color);
  --txt: #fff; }

.btn.is-red {
  --bg: var(--error);
  --txt: #fff; }

.btn.is-green {
  --bg: var(--success);
  --txt: #fff; }

.btn.is-blue {
  background: var(--caution);
  color: #fff; }

.btn.is-yellow {
  --bg: var(--warning);
  --txt: #fff; }

.btn.is-opposite {
  --bg: var(--text);
  --txt: #fff; }

.btn:hover {
  text-decoration: none; }

.btn:hover {
  opacity: 0.7; }

.alert {
  --bg: var(--light);
  --txt: var(--text);
  background: var(--bg);
  color: var(--txt);
  padding: 16px;
  border-radius: 4px; }

.alert .alert-icon {
  font-size: 24px;
  margin-right: 8px;
  opacity: 0.8; }

.alert.is-red {
  --bg: var(--red);
  --txt: #fff; }

.alert.is-green {
  --bg: var(--green);
  --txt: #fff; }

.alert.is-blue {
  --bg: var(--blue);
  --txt: #fff; }

.alert.is-yellow {
  --bg: var(--yellow);
  --txt: #fff; }

.alert.is-opposite {
  --bg: var(--opposite);
  --txt: #fff; }

.modal-outer {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalInA .5s forwards; }

.modal-outer:before {
  position: absolute;
  right: 0;
  top: 0;
  content: "\2715";
  margin: 16px 24px;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  opacity: 0;
  animation: modalInB .5s forwards;
  animation-delay: .75s; }

.modal {
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 90%;
  height: auto;
  max-height: calc(100% - 80px);
  max-width: 600px;
  overflow: auto;
  opacity: 0;
  animation: modalInB .5s forwards;
  animation-delay: .4s; }

.modal-headline {
  padding: 16px;
  padding-bottom: 0; }

.modal-headline h2,
.modal-headline h3 {
  margin-bottom: 0; }

.modal-content {
  padding: 16px; }

.modal-getContent {
  display: none; }

@keyframes modalInA {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modalInB {
  from {
    opacity: 0;
    transform: translateY(-16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.tab-select {
  display: flex;
  margin-bottom: 8px;
  border-bottom: 3px solid var(--light); }

.tab-select-item {
  background: transparent;
  color: rgba(var(--text-rgb), 0.8);
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  position: relative;
  transition: all .3s; }

.tab-select-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: rgba(var(--text-rgb), 0.2);
  opacity: 0;
  transition: all .3s; }

.tab-select-item:hover {
  color: var(--text); }

.tab-select-item:hover::before {
  opacity: 1; }

.tab-select-item.is-active {
  background: rgba(var(--color-rgb), 0.1);
  color: var(--color); }

.tab-select-item.is-active::before {
  background-color: var(--color);
  opacity: 1; }

.tab-item {
  padding: 16px;
  display: none; }

.tab-item.is-active {
  display: block; }

.collapse-trigger {
  margin-bottom: 8px; }

.collapse-trigger:last-child {
  margin-bottom: 0; }

.collapse-content {
  padding: 16px;
  display: none; }

.collapse-content.is-active {
  display: block; }

.collapse-trigger {
  position: relative; }

.collapse-trigger:before {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(90deg); }

.collapse-trigger:after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(0); }

.collapse-trigger.is-active:before {
  transform: rotate(45deg); }

.collapse-trigger.is-active:after {
  transform: rotate(-45deg); }
