@charset "UTF-8";
/*!
* karasu -  v0.3.3
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
/*!
* karasu@format -  v0.3.3
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
:root {
  --body: #fff;
  --color: #6a74ec;
  --color-rgb: 106,116,236;
  --text: #263238;
  --text-rgb: 38,50,56;
  --opposite: #263238;
  --opposite-rgb: 38,50,56;
  --light: #eceff1;
  --light-rgb: 236,239,241;
  --error: #be6161;
  --error-rgb: 190,97,97;
  --red: #be6161;
  --red-rgb: 190,97,97;
  --green: #8fa975;
  --green-rgb: 143,169,117;
  --blue: #6a92ec;
  --blue-rgb: 106,146,236;
  --yellow: #b5a15c;
  --yellow-rgb: 181,161,92;
  --caution: #6a92ec;
  --caution-rgb: 106,146,236;
  --success: #8fa975;
  --success-rgb: 143,169,117;
  --warning: #b5a15c;
  --warning-rgb: 181,161,92; }

*, :before, :after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: var(--body);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.65; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 12px; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

p {
  margin: 0;
  padding: 0;
  margin-bottom: 12px; }

ul, ol {
  padding-left: 32px;
  margin-bottom: 12px; }

ul li,
ol li {
  list-style: inherit; }

ul.unlist,
ol.unlist {
  padding-left: 0; }

.unlist li {
  list-style: none; }

dl dt {
  font-weight: 700;
  margin-bottom: 8px; }

dl dd {
  font-size: 14px;
  margin-left: 0;
  padding-left: 8px;
  opacity: 0.8;
  border-left: 16px solid #eceff1;
  margin-bottom: 8px; }

dl dd:last-child {
  margin-bottom: 0; }

code {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  unicode-bidi: bidi-override; }

a {
  text-decoration: none;
  color: var(--color);
  font-weight: 700; }

a:hover {
  text-decoration: underline; }

input, textarea, select, option, button {
  font-family: "Roboto";
  font-weight: 500; }

mark {
  padding: 4px;
  background: var(--light);
  color: var(--text);
  font-size: 14px;
  border-radius: 4px; }

strong, b {
  font-weight: 500; }

blockquote {
  background: var(--light);
  border-radius: 4px;
  color: rgba(var(--text-rgb), 0.5);
  margin: 0;
  margin-bottom: 12px;
  padding: 16px; }

.table,
.table table {
  width: auto;
  max-width: 100%;
  color: inherit; }

.table.is-expanded,
.table.is-expanded table {
  width: 100%; }

.table table {
  border-collapse: collapse; }

.table-headline {
  position: relative;
  border-bottom: 5px solid var(--light); }

.table-headline th:hover:before {
  opacity: 1; }

.table-headline th {
  text-align: left;
  font-weight: 500;
  padding: 16px; }

.table-body td {
  padding: 16px; }

.h1 {
  font-size: 42px; }

.h2 {
  font-size: 32px; }

.h3 {
  font-size: 28px; }

.h4 {
  font-size: 24px; }

.h5 {
  font-size: 18px; }

.h6 {
  font-size: 14px; }

.lead {
  line-height: 1.5;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.8; }

.drop-caps {
  overflow: hidden; }

.drop-caps:first-letter {
  font-family: Georgia;
  font-size: 84px;
  float: left;
  line-height: 60px;
  padding-right: 8px; }

/*!
* karasu@component -  v0.3.3
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
.btn {
  --bg: var(--light);
  --txt: var(--text);
  background: var(--bg);
  color: var(--txt);
  text-align: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  line-height: 46px;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s; }

.btn .btn-icon {
  text-align: center;
  margin-right: 12px;
  font-size: 18px;
  display: inline-block; }

.btn.is-only-icon {
  width: 46px;
  height: 46px;
  line-height: inherit;
  padding: 0;
  justify-content: center; }

.btn.is-only-icon .btn-icon {
  margin-right: 0; }

.btn.offset-left {
  margin-left: 8px; }

.btn.offset-top {
  margin-top: 8px; }

.btn.offset-right {
  margin-right: 8px; }

.btn.offset-bottom {
  margin-bottom: 8px; }

.btn.is-badge {
  padding: 0 8px;
  height: 24px;
  font-size: 12px; }

.btn.is-color {
  --bg: var(--color);
  --txt: #fff; }

.btn.is-red {
  --bg: var(--error);
  --txt: #fff; }

.btn.is-green {
  --bg: var(--success);
  --txt: #fff; }

.btn.is-blue {
  background: var(--caution);
  color: #fff; }

.btn.is-yellow {
  --bg: var(--warning);
  --txt: #fff; }

.btn.is-opposite {
  --bg: var(--text);
  --txt: #fff; }

.btn:hover {
  text-decoration: none; }

.btn:hover {
  opacity: 0.7; }

.alert {
  --bg: var(--light);
  --txt: var(--text);
  background: var(--bg);
  color: var(--txt);
  padding: 16px;
  border-radius: 4px; }

.alert .alert-icon {
  font-size: 24px;
  margin-right: 8px;
  opacity: 0.8; }

.alert.is-red {
  --bg: var(--red);
  --txt: #fff; }

.alert.is-green {
  --bg: var(--green);
  --txt: #fff; }

.alert.is-blue {
  --bg: var(--blue);
  --txt: #fff; }

.alert.is-yellow {
  --bg: var(--yellow);
  --txt: #fff; }

.alert.is-opposite {
  --bg: var(--opposite);
  --txt: #fff; }

.modal-outer {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalInA .5s forwards; }

.modal-outer:before {
  position: absolute;
  right: 0;
  top: 0;
  content: "\2715";
  margin: 16px 24px;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  opacity: 0;
  animation: modalInB .5s forwards;
  animation-delay: .75s; }

.modal {
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 90%;
  height: auto;
  max-height: calc(100% - 80px);
  max-width: 600px;
  overflow: auto;
  opacity: 0;
  animation: modalInB .5s forwards;
  animation-delay: .4s; }

.modal-headline {
  padding: 16px;
  padding-bottom: 0; }

.modal-headline h2,
.modal-headline h3 {
  margin-bottom: 0; }

.modal-content {
  padding: 16px; }

.modal-getContent {
  display: none; }

@keyframes modalInA {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modalInB {
  from {
    opacity: 0;
    transform: translateY(-16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.tab-select {
  display: flex;
  margin-bottom: 8px;
  border-bottom: 3px solid var(--light); }

.tab-select-item {
  background: transparent;
  color: rgba(var(--text-rgb), 0.8);
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  position: relative;
  transition: all .3s; }

.tab-select-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: rgba(var(--text-rgb), 0.2);
  opacity: 0;
  transition: all .3s; }

.tab-select-item:hover {
  color: var(--text); }

.tab-select-item:hover::before {
  opacity: 1; }

.tab-select-item.is-active {
  background: rgba(var(--color-rgb), 0.1);
  color: var(--color); }

.tab-select-item.is-active::before {
  background-color: var(--color);
  opacity: 1; }

.tab-item {
  padding: 16px;
  display: none; }

.tab-item.is-active {
  display: block; }

.collapse-trigger {
  margin-bottom: 8px; }

.collapse-trigger:last-child {
  margin-bottom: 0; }

.collapse-content {
  padding: 16px;
  display: none; }

.collapse-content.is-active {
  display: block; }

.collapse-trigger {
  position: relative; }

.collapse-trigger:before {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(90deg); }

.collapse-trigger:after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(0); }

.collapse-trigger.is-active:before {
  transform: rotate(45deg); }

.collapse-trigger.is-active:after {
  transform: rotate(-45deg); }

/*!
* karasu@layout -  v0.3.3
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
.container {
  width: auto;
  max-width: 100%; }

.container.is-box {
  max-width: 1200px; }

.container.is-center {
  margin-left: auto;
  margin-right: auto; }

.container-main,
.container-sidebar {
  width: 100%; }

@media screen and (min-width: 768px) {
  .container-main {
    width: calc(100% - 300px); }
  .container-sidebar {
    width: 300px; } }

.c1 {
  width: 8.33333%; }

.c2 {
  width: 16.66667%; }

.c3 {
  width: 25%; }

.c4 {
  width: 33.33333%; }

.c5 {
  width: 41.66667%; }

.c6 {
  width: 50%; }

.c7 {
  width: 58.33333%; }

.c8 {
  width: 66.66667%; }

.c9 {
  width: 75%; }

.c10 {
  width: 83.33333%; }

.c11 {
  width: 91.66667%; }

.c12 {
  width: 100%; }

@media screen and (min-width: 480px) {
  .c1-xs {
    width: 8.33333%; }
  .c2-xs {
    width: 16.66667%; }
  .c3-xs {
    width: 25%; }
  .c4-xs {
    width: 33.33333%; }
  .c5-xs {
    width: 41.66667%; }
  .c6-xs {
    width: 50%; }
  .c7-xs {
    width: 58.33333%; }
  .c8-xs {
    width: 66.66667%; }
  .c9-xs {
    width: 75%; }
  .c10-xs {
    width: 83.33333%; }
  .c11-xs {
    width: 91.66667%; }
  .c12-xs {
    width: 100%; } }

@media screen and (min-width: 576px) {
  .c1-sm {
    width: 8.33333%; }
  .c2-sm {
    width: 16.66667%; }
  .c3-sm {
    width: 25%; }
  .c4-sm {
    width: 33.33333%; }
  .c5-sm {
    width: 41.66667%; }
  .c6-sm {
    width: 50%; }
  .c7-sm {
    width: 58.33333%; }
  .c8-sm {
    width: 66.66667%; }
  .c9-sm {
    width: 75%; }
  .c10-sm {
    width: 83.33333%; }
  .c11-sm {
    width: 91.66667%; }
  .c12-sm {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .c1-md {
    width: 8.33333%; }
  .c2-md {
    width: 16.66667%; }
  .c3-md {
    width: 25%; }
  .c4-md {
    width: 33.33333%; }
  .c5-md {
    width: 41.66667%; }
  .c6-md {
    width: 50%; }
  .c7-md {
    width: 58.33333%; }
  .c8-md {
    width: 66.66667%; }
  .c9-md {
    width: 75%; }
  .c10-md {
    width: 83.33333%; }
  .c11-md {
    width: 91.66667%; }
  .c12-md {
    width: 100%; } }

@media screen and (min-width: 992px) {
  .c1-lg {
    width: 8.33333%; }
  .c2-lg {
    width: 16.66667%; }
  .c3-lg {
    width: 25%; }
  .c4-lg {
    width: 33.33333%; }
  .c5-lg {
    width: 41.66667%; }
  .c6-lg {
    width: 50%; }
  .c7-lg {
    width: 58.33333%; }
  .c8-lg {
    width: 66.66667%; }
  .c9-lg {
    width: 75%; }
  .c10-lg {
    width: 83.33333%; }
  .c11-lg {
    width: 91.66667%; }
  .c12-lg {
    width: 100%; } }

@media screen and (min-width: 1200px) {
  .c1-xlg {
    width: 8.33333%; }
  .c2-xlg {
    width: 16.66667%; }
  .c3-xlg {
    width: 25%; }
  .c4-xlg {
    width: 33.33333%; }
  .c5-xlg {
    width: 41.66667%; }
  .c6-xlg {
    width: 50%; }
  .c7-xlg {
    width: 58.33333%; }
  .c8-xlg {
    width: 66.66667%; }
  .c9-xlg {
    width: 75%; }
  .c10-xlg {
    width: 83.33333%; }
  .c11-xlg {
    width: 91.66667%; }
  .c12-xlg {
    width: 100%; } }

.w5 {
  width: 5%; }

.w10 {
  width: 10%; }

.w15 {
  width: 15%; }

.w20 {
  width: 20%; }

.w25 {
  width: 25%; }

.w30 {
  width: 30%; }

.w35 {
  width: 35%; }

.w40 {
  width: 40%; }

.w45 {
  width: 45%; }

.w50 {
  width: 50%; }

.w55 {
  width: 55%; }

.w60 {
  width: 60%; }

.w65 {
  width: 65%; }

.w70 {
  width: 70%; }

.w75 {
  width: 75%; }

.w80 {
  width: 80%; }

.w85 {
  width: 85%; }

.w90 {
  width: 90%; }

.w95 {
  width: 95%; }

.w100 {
  width: 100%; }

@media screen and (min-width: 480px) {
  .w5-xs {
    width: 5%; }
  .w10-xs {
    width: 10%; }
  .w15-xs {
    width: 15%; }
  .w20-xs {
    width: 20%; }
  .w25-xs {
    width: 25%; }
  .w30-xs {
    width: 30%; }
  .w35-xs {
    width: 35%; }
  .w40-xs {
    width: 40%; }
  .w45-xs {
    width: 45%; }
  .w50-xs {
    width: 50%; }
  .w55-xs {
    width: 55%; }
  .w60-xs {
    width: 60%; }
  .w65-xs {
    width: 65%; }
  .w70-xs {
    width: 70%; }
  .w75-xs {
    width: 75%; }
  .w80-xs {
    width: 80%; }
  .w85-xs {
    width: 85%; }
  .w90-xs {
    width: 90%; }
  .w95-xs {
    width: 95%; }
  .w100-xs {
    width: 100%; } }

@media screen and (min-width: 576px) {
  .w5-sm {
    width: 5%; }
  .w10-sm {
    width: 10%; }
  .w15-sm {
    width: 15%; }
  .w20-sm {
    width: 20%; }
  .w25-sm {
    width: 25%; }
  .w30-sm {
    width: 30%; }
  .w35-sm {
    width: 35%; }
  .w40-sm {
    width: 40%; }
  .w45-sm {
    width: 45%; }
  .w50-sm {
    width: 50%; }
  .w55-sm {
    width: 55%; }
  .w60-sm {
    width: 60%; }
  .w65-sm {
    width: 65%; }
  .w70-sm {
    width: 70%; }
  .w75-sm {
    width: 75%; }
  .w80-sm {
    width: 80%; }
  .w85-sm {
    width: 85%; }
  .w90-sm {
    width: 90%; }
  .w95-sm {
    width: 95%; }
  .w100-sm {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .w5-md {
    width: 5%; }
  .w10-md {
    width: 10%; }
  .w15-md {
    width: 15%; }
  .w20-md {
    width: 20%; }
  .w25-md {
    width: 25%; }
  .w30-md {
    width: 30%; }
  .w35-md {
    width: 35%; }
  .w40-md {
    width: 40%; }
  .w45-md {
    width: 45%; }
  .w50-md {
    width: 50%; }
  .w55-md {
    width: 55%; }
  .w60-md {
    width: 60%; }
  .w65-md {
    width: 65%; }
  .w70-md {
    width: 70%; }
  .w75-md {
    width: 75%; }
  .w80-md {
    width: 80%; }
  .w85-md {
    width: 85%; }
  .w90-md {
    width: 90%; }
  .w95-md {
    width: 95%; }
  .w100-md {
    width: 100%; } }

@media screen and (min-width: 992px) {
  .w5-lg {
    width: 5%; }
  .w10-lg {
    width: 10%; }
  .w15-lg {
    width: 15%; }
  .w20-lg {
    width: 20%; }
  .w25-lg {
    width: 25%; }
  .w30-lg {
    width: 30%; }
  .w35-lg {
    width: 35%; }
  .w40-lg {
    width: 40%; }
  .w45-lg {
    width: 45%; }
  .w50-lg {
    width: 50%; }
  .w55-lg {
    width: 55%; }
  .w60-lg {
    width: 60%; }
  .w65-lg {
    width: 65%; }
  .w70-lg {
    width: 70%; }
  .w75-lg {
    width: 75%; }
  .w80-lg {
    width: 80%; }
  .w85-lg {
    width: 85%; }
  .w90-lg {
    width: 90%; }
  .w95-lg {
    width: 95%; }
  .w100-lg {
    width: 100%; } }

@media screen and (min-width: 1200px) {
  .w5-xlg {
    width: 5%; }
  .w10-xlg {
    width: 10%; }
  .w15-xlg {
    width: 15%; }
  .w20-xlg {
    width: 20%; }
  .w25-xlg {
    width: 25%; }
  .w30-xlg {
    width: 30%; }
  .w35-xlg {
    width: 35%; }
  .w40-xlg {
    width: 40%; }
  .w45-xlg {
    width: 45%; }
  .w50-xlg {
    width: 50%; }
  .w55-xlg {
    width: 55%; }
  .w60-xlg {
    width: 60%; }
  .w65-xlg {
    width: 65%; }
  .w70-xlg {
    width: 70%; }
  .w75-xlg {
    width: 75%; }
  .w80-xlg {
    width: 80%; }
  .w85-xlg {
    width: 85%; }
  .w90-xlg {
    width: 90%; }
  .w95-xlg {
    width: 95%; }
  .w100-xlg {
    width: 100%; } }

/*!
* karasu@utils -  v0.3.3
* Copyright 2020 © Karasu themes
* Developed by Marcelo (github.com/MarceloTLD)
* MIT License
*/
.m4 {
  margin: 4px; }
  .m4-t {
    margin-top: 4px; }
  .m4-r {
    margin-right: 4px; }
  .m4-b {
    margin-bottom: 4px; }
  .m4-l {
    margin-left: 4px; }
  .m4-y {
    margin-top: 4px;
    margin-bottom: 4px; }
  .m4-x {
    margin-left: 4px;
    margin-right: 4px; }

.m8 {
  margin: 8px; }
  .m8-t {
    margin-top: 8px; }
  .m8-r {
    margin-right: 8px; }
  .m8-b {
    margin-bottom: 8px; }
  .m8-l {
    margin-left: 8px; }
  .m8-y {
    margin-top: 8px;
    margin-bottom: 8px; }
  .m8-x {
    margin-left: 8px;
    margin-right: 8px; }

.m12 {
  margin: 12px; }
  .m12-t {
    margin-top: 12px; }
  .m12-r {
    margin-right: 12px; }
  .m12-b {
    margin-bottom: 12px; }
  .m12-l {
    margin-left: 12px; }
  .m12-y {
    margin-top: 12px;
    margin-bottom: 12px; }
  .m12-x {
    margin-left: 12px;
    margin-right: 12px; }

.m16 {
  margin: 16px; }
  .m16-t {
    margin-top: 16px; }
  .m16-r {
    margin-right: 16px; }
  .m16-b {
    margin-bottom: 16px; }
  .m16-l {
    margin-left: 16px; }
  .m16-y {
    margin-top: 16px;
    margin-bottom: 16px; }
  .m16-x {
    margin-left: 16px;
    margin-right: 16px; }

.m20 {
  margin: 20px; }
  .m20-t {
    margin-top: 20px; }
  .m20-r {
    margin-right: 20px; }
  .m20-b {
    margin-bottom: 20px; }
  .m20-l {
    margin-left: 20px; }
  .m20-y {
    margin-top: 20px;
    margin-bottom: 20px; }
  .m20-x {
    margin-left: 20px;
    margin-right: 20px; }

.m24 {
  margin: 24px; }
  .m24-t {
    margin-top: 24px; }
  .m24-r {
    margin-right: 24px; }
  .m24-b {
    margin-bottom: 24px; }
  .m24-l {
    margin-left: 24px; }
  .m24-y {
    margin-top: 24px;
    margin-bottom: 24px; }
  .m24-x {
    margin-left: 24px;
    margin-right: 24px; }

.m28 {
  margin: 28px; }
  .m28-t {
    margin-top: 28px; }
  .m28-r {
    margin-right: 28px; }
  .m28-b {
    margin-bottom: 28px; }
  .m28-l {
    margin-left: 28px; }
  .m28-y {
    margin-top: 28px;
    margin-bottom: 28px; }
  .m28-x {
    margin-left: 28px;
    margin-right: 28px; }

.m32 {
  margin: 32px; }
  .m32-t {
    margin-top: 32px; }
  .m32-r {
    margin-right: 32px; }
  .m32-b {
    margin-bottom: 32px; }
  .m32-l {
    margin-left: 32px; }
  .m32-y {
    margin-top: 32px;
    margin-bottom: 32px; }
  .m32-x {
    margin-left: 32px;
    margin-right: 32px; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.m0 {
  margin: 0; }

.m0-t {
  margin-top: 0; }

.m0-r {
  margin-right: 0; }

.m0-b {
  margin-bottom: 0; }

.m0-l {
  margin-left: 0; }

.m0-x {
  margin-left: 0;
  margin-right: 0; }

.m0-y {
  margin-top: 0;
  margin-bottom: 0; }

.p4 {
  padding: 4px; }
  .p4-t {
    padding-top: 4px; }
  .p4-r {
    padding-right: 4px; }
  .p4-b {
    padding-bottom: 4px; }
  .p4-l {
    padding-left: 4px; }
  .p4-y {
    padding-top: 4px;
    padding-bottom: 4px; }
  .p4-x {
    padding-left: 4px;
    padding-right: 4px; }

.p8 {
  padding: 8px; }
  .p8-t {
    padding-top: 8px; }
  .p8-r {
    padding-right: 8px; }
  .p8-b {
    padding-bottom: 8px; }
  .p8-l {
    padding-left: 8px; }
  .p8-y {
    padding-top: 8px;
    padding-bottom: 8px; }
  .p8-x {
    padding-left: 8px;
    padding-right: 8px; }

.p12 {
  padding: 12px; }
  .p12-t {
    padding-top: 12px; }
  .p12-r {
    padding-right: 12px; }
  .p12-b {
    padding-bottom: 12px; }
  .p12-l {
    padding-left: 12px; }
  .p12-y {
    padding-top: 12px;
    padding-bottom: 12px; }
  .p12-x {
    padding-left: 12px;
    padding-right: 12px; }

.p16 {
  padding: 16px; }
  .p16-t {
    padding-top: 16px; }
  .p16-r {
    padding-right: 16px; }
  .p16-b {
    padding-bottom: 16px; }
  .p16-l {
    padding-left: 16px; }
  .p16-y {
    padding-top: 16px;
    padding-bottom: 16px; }
  .p16-x {
    padding-left: 16px;
    padding-right: 16px; }

.p20 {
  padding: 20px; }
  .p20-t {
    padding-top: 20px; }
  .p20-r {
    padding-right: 20px; }
  .p20-b {
    padding-bottom: 20px; }
  .p20-l {
    padding-left: 20px; }
  .p20-y {
    padding-top: 20px;
    padding-bottom: 20px; }
  .p20-x {
    padding-left: 20px;
    padding-right: 20px; }

.p24 {
  padding: 24px; }
  .p24-t {
    padding-top: 24px; }
  .p24-r {
    padding-right: 24px; }
  .p24-b {
    padding-bottom: 24px; }
  .p24-l {
    padding-left: 24px; }
  .p24-y {
    padding-top: 24px;
    padding-bottom: 24px; }
  .p24-x {
    padding-left: 24px;
    padding-right: 24px; }

.p28 {
  padding: 28px; }
  .p28-t {
    padding-top: 28px; }
  .p28-r {
    padding-right: 28px; }
  .p28-b {
    padding-bottom: 28px; }
  .p28-l {
    padding-left: 28px; }
  .p28-y {
    padding-top: 28px;
    padding-bottom: 28px; }
  .p28-x {
    padding-left: 28px;
    padding-right: 28px; }

.p32 {
  padding: 32px; }
  .p32-t {
    padding-top: 32px; }
  .p32-r {
    padding-right: 32px; }
  .p32-b {
    padding-bottom: 32px; }
  .p32-l {
    padding-left: 32px; }
  .p32-y {
    padding-top: 32px;
    padding-bottom: 32px; }
  .p32-x {
    padding-left: 32px;
    padding-right: 32px; }

.p0 {
  padding: 0; }

.p0-t {
  padding-top: 0; }

.p0-r {
  padding-right: 0; }

.p0-b {
  padding-bottom: 0; }

.p0-l {
  padding-left: 0; }

.p0-x {
  padding-left: 0;
  padding-right: 0; }

.p0-y {
  padding-top: 0;
  padding-bottom: 0; }

.inline {
  display: inline; }
  @media screen and (min-width: 480px) {
    .inline-xs {
      display: inline; } }
  @media screen and (min-width: 576px) {
    .inline-sm {
      display: inline; } }
  @media screen and (min-width: 768px) {
    .inline-md {
      display: inline; } }
  @media screen and (min-width: 992px) {
    .inline-lg {
      display: inline; } }
  @media screen and (min-width: 1200px) {
    .inline-xlg {
      display: inline; } }

.block {
  display: block; }
  @media screen and (min-width: 480px) {
    .block-xs {
      display: block; } }
  @media screen and (min-width: 576px) {
    .block-sm {
      display: block; } }
  @media screen and (min-width: 768px) {
    .block-md {
      display: block; } }
  @media screen and (min-width: 992px) {
    .block-lg {
      display: block; } }
  @media screen and (min-width: 1200px) {
    .block-xlg {
      display: block; } }

.iblock {
  display: inline-block; }
  @media screen and (min-width: 480px) {
    .iblock-xs {
      display: inline-block; } }
  @media screen and (min-width: 576px) {
    .iblock-sm {
      display: inline-block; } }
  @media screen and (min-width: 768px) {
    .iblock-md {
      display: inline-block; } }
  @media screen and (min-width: 992px) {
    .iblock-lg {
      display: inline-block; } }
  @media screen and (min-width: 1200px) {
    .iblock-xlg {
      display: inline-block; } }

.flex {
  display: flex; }
  @media screen and (min-width: 480px) {
    .flex-xs {
      display: flex; } }
  @media screen and (min-width: 576px) {
    .flex-sm {
      display: flex; } }
  @media screen and (min-width: 768px) {
    .flex-md {
      display: flex; } }
  @media screen and (min-width: 992px) {
    .flex-lg {
      display: flex; } }
  @media screen and (min-width: 1200px) {
    .flex-xlg {
      display: flex; } }

.iflex {
  display: inline-flex; }
  @media screen and (min-width: 480px) {
    .iflex-xs {
      display: inline-flex; } }
  @media screen and (min-width: 576px) {
    .iflex-sm {
      display: inline-flex; } }
  @media screen and (min-width: 768px) {
    .iflex-md {
      display: inline-flex; } }
  @media screen and (min-width: 992px) {
    .iflex-lg {
      display: inline-flex; } }
  @media screen and (min-width: 1200px) {
    .iflex-xlg {
      display: inline-flex; } }

.wrap {
  flex-wrap: wrap; }
  @media screen and (min-width: 480px) {
    .wrap-xs {
      flex-wrap: wrap; } }
  @media screen and (min-width: 576px) {
    .wrap-sm {
      flex-wrap: wrap; } }
  @media screen and (min-width: 768px) {
    .wrap-md {
      flex-wrap: wrap; } }
  @media screen and (min-width: 992px) {
    .wrap-lg {
      flex-wrap: wrap; } }
  @media screen and (min-width: 1200px) {
    .wrap-xlg {
      flex-wrap: wrap; } }

.nwrap {
  flex-wrap: nowrap; }
  @media screen and (min-width: 480px) {
    .nwrap-xs {
      flex-wrap: nowrap; } }
  @media screen and (min-width: 576px) {
    .nwrap-sm {
      flex-wrap: nowrap; } }
  @media screen and (min-width: 768px) {
    .nwrap-md {
      flex-wrap: nowrap; } }
  @media screen and (min-width: 992px) {
    .nwrap-lg {
      flex-wrap: nowrap; } }
  @media screen and (min-width: 1200px) {
    .nwrap-xlg {
      flex-wrap: nowrap; } }

.content-start {
  justify-content: flex-start; }
  @media screen and (min-width: 480px) {
    .content-start-xs {
      justify-content: flex-start; } }
  @media screen and (min-width: 576px) {
    .content-start-sm {
      justify-content: flex-start; } }
  @media screen and (min-width: 768px) {
    .content-start-md {
      justify-content: flex-start; } }
  @media screen and (min-width: 992px) {
    .content-start-lg {
      justify-content: flex-start; } }
  @media screen and (min-width: 1200px) {
    .content-start-xlg {
      justify-content: flex-start; } }

.content-end {
  justify-content: flex-end; }
  @media screen and (min-width: 480px) {
    .content-end-xs {
      justify-content: flex-end; } }
  @media screen and (min-width: 576px) {
    .content-end-sm {
      justify-content: flex-end; } }
  @media screen and (min-width: 768px) {
    .content-end-md {
      justify-content: flex-end; } }
  @media screen and (min-width: 992px) {
    .content-end-lg {
      justify-content: flex-end; } }
  @media screen and (min-width: 1200px) {
    .content-end-xlg {
      justify-content: flex-end; } }

.content-around {
  justify-content: space-around; }
  @media screen and (min-width: 480px) {
    .content-around-xs {
      justify-content: space-around; } }
  @media screen and (min-width: 576px) {
    .content-around-sm {
      justify-content: space-around; } }
  @media screen and (min-width: 768px) {
    .content-around-md {
      justify-content: space-around; } }
  @media screen and (min-width: 992px) {
    .content-around-lg {
      justify-content: space-around; } }
  @media screen and (min-width: 1200px) {
    .content-around-xlg {
      justify-content: space-around; } }

.content-between {
  justify-content: space-between; }
  @media screen and (min-width: 480px) {
    .content-between-xs {
      justify-content: space-between; } }
  @media screen and (min-width: 576px) {
    .content-between-sm {
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .content-between-md {
      justify-content: space-between; } }
  @media screen and (min-width: 992px) {
    .content-between-lg {
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    .content-between-xlg {
      justify-content: space-between; } }

.content-center {
  justify-content: center; }
  @media screen and (min-width: 480px) {
    .content-center-xs {
      justify-content: center; } }
  @media screen and (min-width: 576px) {
    .content-center-sm {
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .content-center-md {
      justify-content: center; } }
  @media screen and (min-width: 992px) {
    .content-center-lg {
      justify-content: center; } }
  @media screen and (min-width: 1200px) {
    .content-center-xlg {
      justify-content: center; } }

.content-stretch {
  justify-content: stretch; }
  @media screen and (min-width: 480px) {
    .content-stretch-xs {
      justify-content: stretch; } }
  @media screen and (min-width: 576px) {
    .content-stretch-sm {
      justify-content: stretch; } }
  @media screen and (min-width: 768px) {
    .content-stretch-md {
      justify-content: stretch; } }
  @media screen and (min-width: 992px) {
    .content-stretch-lg {
      justify-content: stretch; } }
  @media screen and (min-width: 1200px) {
    .content-stretch-xlg {
      justify-content: stretch; } }

.item-start {
  align-items: flex-start; }
  @media screen and (min-width: 480px) {
    .item-start-xs {
      align-items: flex-start; } }
  @media screen and (min-width: 576px) {
    .item-start-sm {
      align-items: flex-start; } }
  @media screen and (min-width: 768px) {
    .item-start-md {
      align-items: flex-start; } }
  @media screen and (min-width: 992px) {
    .item-start-lg {
      align-items: flex-start; } }
  @media screen and (min-width: 1200px) {
    .item-start-xlg {
      align-items: flex-start; } }

.item-end {
  align-items: flex-end; }
  @media screen and (min-width: 480px) {
    .item-end-xs {
      align-items: flex-end; } }
  @media screen and (min-width: 576px) {
    .item-end-sm {
      align-items: flex-end; } }
  @media screen and (min-width: 768px) {
    .item-end-md {
      align-items: flex-end; } }
  @media screen and (min-width: 992px) {
    .item-end-lg {
      align-items: flex-end; } }
  @media screen and (min-width: 1200px) {
    .item-end-xlg {
      align-items: flex-end; } }

.item-center {
  align-items: center; }
  @media screen and (min-width: 480px) {
    .item-center-xs {
      align-items: center; } }
  @media screen and (min-width: 576px) {
    .item-center-sm {
      align-items: center; } }
  @media screen and (min-width: 768px) {
    .item-center-md {
      align-items: center; } }
  @media screen and (min-width: 992px) {
    .item-center-lg {
      align-items: center; } }
  @media screen and (min-width: 1200px) {
    .item-center-xlg {
      align-items: center; } }

.item-stretch {
  align-items: stretch; }
  @media screen and (min-width: 480px) {
    .item-stretch-xs {
      align-items: stretch; } }
  @media screen and (min-width: 576px) {
    .item-stretch-sm {
      align-items: stretch; } }
  @media screen and (min-width: 768px) {
    .item-stretch-md {
      align-items: stretch; } }
  @media screen and (min-width: 992px) {
    .item-stretch-lg {
      align-items: stretch; } }
  @media screen and (min-width: 1200px) {
    .item-stretch-xlg {
      align-items: stretch; } }

.self-start {
  align-self: flex-start; }
  @media screen and (min-width: 480px) {
    .self-start-xs {
      align-self: flex-start; } }
  @media screen and (min-width: 576px) {
    .self-start-sm {
      align-self: flex-start; } }
  @media screen and (min-width: 768px) {
    .self-start-md {
      align-self: flex-start; } }
  @media screen and (min-width: 992px) {
    .self-start-lg {
      align-self: flex-start; } }
  @media screen and (min-width: 1200px) {
    .self-start-xlg {
      align-self: flex-start; } }

.self-end {
  align-self: flex-end; }
  @media screen and (min-width: 480px) {
    .self-end-xs {
      align-self: flex-end; } }
  @media screen and (min-width: 576px) {
    .self-end-sm {
      align-self: flex-end; } }
  @media screen and (min-width: 768px) {
    .self-end-md {
      align-self: flex-end; } }
  @media screen and (min-width: 992px) {
    .self-end-lg {
      align-self: flex-end; } }
  @media screen and (min-width: 1200px) {
    .self-end-xlg {
      align-self: flex-end; } }

.self-center {
  align-self: center; }
  @media screen and (min-width: 480px) {
    .self-center-xs {
      align-self: center; } }
  @media screen and (min-width: 576px) {
    .self-center-sm {
      align-self: center; } }
  @media screen and (min-width: 768px) {
    .self-center-md {
      align-self: center; } }
  @media screen and (min-width: 992px) {
    .self-center-lg {
      align-self: center; } }
  @media screen and (min-width: 1200px) {
    .self-center-xlg {
      align-self: center; } }

.self-stretch {
  align-self: stretch; }
  @media screen and (min-width: 480px) {
    .self-stretch-xs {
      align-self: stretch; } }
  @media screen and (min-width: 576px) {
    .self-stretch-sm {
      align-self: stretch; } }
  @media screen and (min-width: 768px) {
    .self-stretch-md {
      align-self: stretch; } }
  @media screen and (min-width: 992px) {
    .self-stretch-lg {
      align-self: stretch; } }
  @media screen and (min-width: 1200px) {
    .self-stretch-xlg {
      align-self: stretch; } }

.row {
  flex-direction: row; }
  @media screen and (min-width: 480px) {
    .row-xs {
      flex-direction: row; } }
  @media screen and (min-width: 576px) {
    .row-sm {
      flex-direction: row; } }
  @media screen and (min-width: 768px) {
    .row-md {
      flex-direction: row; } }
  @media screen and (min-width: 992px) {
    .row-lg {
      flex-direction: row; } }
  @media screen and (min-width: 1200px) {
    .row-xlg {
      flex-direction: row; } }

.column {
  flex-direction: column; }
  @media screen and (min-width: 480px) {
    .column-xs {
      flex-direction: column; } }
  @media screen and (min-width: 576px) {
    .column-sm {
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .column-md {
      flex-direction: column; } }
  @media screen and (min-width: 992px) {
    .column-lg {
      flex-direction: column; } }
  @media screen and (min-width: 1200px) {
    .column-xlg {
      flex-direction: column; } }

.row-reverse {
  flex-direction: row-reverse; }
  @media screen and (min-width: 480px) {
    .row-reverse-xs {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 576px) {
    .row-reverse-sm {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 768px) {
    .row-reverse-md {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 992px) {
    .row-reverse-lg {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 1200px) {
    .row-reverse-xlg {
      flex-direction: row-reverse; } }

.column-reverse {
  flex-direction: column-reverse; }
  @media screen and (min-width: 480px) {
    .column-reverse-xs {
      flex-direction: column-reverse; } }
  @media screen and (min-width: 576px) {
    .column-reverse-sm {
      flex-direction: column-reverse; } }
  @media screen and (min-width: 768px) {
    .column-reverse-md {
      flex-direction: column-reverse; } }
  @media screen and (min-width: 992px) {
    .column-reverse-lg {
      flex-direction: column-reverse; } }
  @media screen and (min-width: 1200px) {
    .column-reverse-xlg {
      flex-direction: column-reverse; } }

.hide {
  display: none; }

@media screen and (min-width: 480px) {
  .min-hide-xs {
    display: none; } }

@media screen and (min-width: 576px) {
  .min-hide-sm {
    display: none; } }

@media screen and (min-width: 768px) {
  .min-hide-md {
    display: none; } }

@media screen and (min-width: 992px) {
  .min-hide-lg {
    display: none; } }

@media screen and (min-width: 1200px) {
  .min-hide-xlg {
    display: none; } }

@media screen and (max-width: 480px) {
  .max-hide-xs {
    display: none; } }

@media screen and (max-width: 576px) {
  .max-hide-sm {
    display: none; } }

@media screen and (max-width: 768px) {
  .max-hide-md {
    display: none; } }

@media screen and (max-width: 992px) {
  .max-hide-lg {
    display: none; } }

@media screen and (max-width: 1200px) {
  .max-hide-xlg {
    display: none; } }

.txt-left {
  text-align: left; }
  @media screen and (min-width: 480px) {
    .txt-left-xs {
      text-align: left; } }
  @media screen and (min-width: 576px) {
    .txt-left-sm {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .txt-left-md {
      text-align: left; } }
  @media screen and (min-width: 992px) {
    .txt-left-lg {
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    .txt-left-xlg {
      text-align: left; } }

.txt-center {
  text-align: center; }
  @media screen and (min-width: 480px) {
    .txt-center-xs {
      text-align: center; } }
  @media screen and (min-width: 576px) {
    .txt-center-sm {
      text-align: center; } }
  @media screen and (min-width: 768px) {
    .txt-center-md {
      text-align: center; } }
  @media screen and (min-width: 992px) {
    .txt-center-lg {
      text-align: center; } }
  @media screen and (min-width: 1200px) {
    .txt-center-xlg {
      text-align: center; } }

.txt-right {
  text-align: right; }
  @media screen and (min-width: 480px) {
    .txt-right-xs {
      text-align: right; } }
  @media screen and (min-width: 576px) {
    .txt-right-sm {
      text-align: right; } }
  @media screen and (min-width: 768px) {
    .txt-right-md {
      text-align: right; } }
  @media screen and (min-width: 992px) {
    .txt-right-lg {
      text-align: right; } }
  @media screen and (min-width: 1200px) {
    .txt-right-xlg {
      text-align: right; } }
