.alert {
	background: lighten($light, .25%);
	color: $text;
	padding: 16px;
	border-radius: 4px;
}

// Headline

.alert-headline {
	font-weight: 500;
	font-size: $size-h3;
	display: block;
	padding-bottom: 8px;
}

// color

@include color("alert");