.cv-badge {
  background: var(--light);
  color: rgba(var(--text-rgb), .7);
  border-radius: var(--radius-xs);
  padding: 0 8px;
  line-height: 24px;
  font-size: var(--size-sub);
  text-transform: uppercase;
  font-weight: 700;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
/*=> color */
.cv-badge.is-color {
  background: var(--color);
  color: #fff;
}

.cv-badge.is-red {
  background: var(--error);
  color: #fff;
}

.cv-badge.is-green {
  background: var(--success);
  color: #fff;
}

.cv-badge.is-blue {
  background: var(--caution);
  color: #fff;
}