.btn {
	background: $light;
	color: $text;
  padding: 0 16px;
  line-height: 42px;
	margin-bottom: 4px;
	outline: 0;
	border: 0;
	font-weight: 500;
	border-radius: 4px;
	font-size: $size-btn;
	display: inline-block;
	transition: all .3s;
}

button.btn,
a.btn {
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

// Tamaños
.btn.is-small {
	padding: 8px 16px;
  font-size: $size-sub;
  line-height: initial;
}

// Iconos
.btn.is-icon .fas,
.btn.is-icon .fa,
.btn.is-icon .far,
.btn.is-icon .fab {
	width: 24px;
	line-height: 24px;
	text-align: center;
	margin-right: 4px;
}

// Color
@include color("btn");

// offset
.btn.is-offset-right {
	margin-right: 8px;
}

.btn.is-offset-left {
	margin-left: 8px;
}

// icon for dropdown

.btn .is-dropdown {
	margin-left: 8px;
}

// badge

.btn.is-badge {
	font-weight: 500;
	padding: 4px;
  font-size: $size-sub;
  line-height: initial;
}

.btn.is-badge .fas,
.btn.is-badge .far,
.btn.is-badge .fab,
.btn.is-badge .fa {
	font-size: $size-sub;
}
