.card {
	background: #fff;
	color: $text;
	box-shadow: 0 6px 12px rgba(#000, .1);
	border-radius: 4px;
} 

// Color

@include color("card");

// Headline

.card-headline {
	padding: 16px;
}

// Title

.card-title {
	font-size: $size-h4;
	margin: 0;
	color: $text;
	transition: color .3s;
}

.card-title:hover {
	color: $color;
}

// Support title
.card-supportTitle {
	font-size: $size-base;
	opacity: 0.8;
}

// Meta

.card-meta__item {
	font-size: $size-btn;
	font-weight: 500;
	opacity: 0.5;
}

// Summary

.card-snippet {
	padding: 16px;
	padding-top: 0;
	opacity: 0.8;
}

// Thumbnail 
.card-thumbnail img,
.card-thumbnail svg {
	width: 100%;
	display: block;
	border-radius: 4px 4px 0 0;
}

// card vertical

.card.is-list .card-thumbnail {
	width: 130px;
	height: 110px;
}

.card.is-list .card-thumbnail img {
	border-radius: 4px 0 0 4px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card.is-list .card-title {
	font-size: $size-btn;
}

.card.is-list .card-content {
	width: calc(100% - 130px);
}

@include query(sm) {
	.card.is-list .card-thumbnail {
		width: 200;
		height: 120px;
	}

	.card.is-list .card-content {
		width: calc(100% - 200);
	}

	.card.is-list .card-title {
		font-size: $size-h3;
	}
}

@include query(md) {
	.card.is-list .card-thumbnail {
		width: 300px;
		height: 250px;
	}

	.card.is-list .card-content {
		width: calc(100% - 300px);
	}

	.card.is-list .card-title {
		font-size: $size-h3;
	}
}