.modal-outer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000, .3);
	opacity: 0;
	animation: fadeIn .5s forwards;
}

.modal {
	width: 90%;
	max-width: 540px;
	max-height: 90%;
	overflow-y: auto;
	background: #fff;
	border-radius: 4px;
	color: $text;
	box-shadow: 0 6px 12px rgba(#000, .1);
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: .3s;
}

.modal-get-content {
	display: none;
	visibility: hidden;
	pointer-events: none;
}

.modal-headline {
	background: $light;
	padding: 16px;
	overflow: hidden;
	font-weight: 500;
	font-size: $size-h4;
	border-radius: 4px 4px 0 0;
}

.modal.is-compact .modal-headline {background: transparent;}

.modal-close {
	float: right;
	margin-right: 8px;
	cursor: pointer;
	color: $error;
}

.modal-content {
	padding: 16px;
}

.modal-action {
	padding: 16px;
	padding-top: 0;
}


// Compact
.modal.is-compact {
	padding: 16px;
	padding-top: 0;
}
.modal.is-compact .modal-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px 16px;
}

.modal.is-compact {
	width: 90%;
	max-width: 300px;
	height: auto;
}