// Container

.navbar {
	width: 100%;
	box-shadow: 0 6px 12px rgba(#000, .16);
	padding: 16px;
	height: 92px;
}

.navbar {
	background: #fff;
}

.navbar.is-color {
	background: $color;
	color: #fff;
}
.navbar.is-opposite {
	background: $text;
	color: #fff;
}

// logo

.navbar-logo h1 {
	font-size: $size-h2;
	font-weight: 500;
}

// menu

.navbar-menu {
	@include maxQuery(md) {
		display: none;
	}
}

.navbar-menu a {
	display: inline-block;
	font-size: $size-base;
	font-weight: 500;
	color: rgba($text, .8);
	padding: 0 16px;
	transition: all .2s;
}

.navbar-menu a:hover {
	color: $color;
}

// Action

.navbar-action {
	padding: 0 16px;
}

.navbar-action__item {
	text-align: center;
	width: 42px;
	line-height: 42px;
}

// Bottom bar

.navbar-bmenu {
	background: $color;
}

// Bottom bar menu
.navbar-bmenu__nav {
	padding: 0 16px;

	@include maxQuery(sm) {
		overflow: auto;
		white-space: nowrap;
	}
}

.navbar-bmenu__nav a {
	padding: 16px;
	font-size: $size-btn;
	font-weight: 500;
	color: rgba(#fff, .8);
	display: inline-block;
	transition: color .3s, background .3s;
}

.navbar-bmenu__nav a:hover {
	background: rgba(#fff, .1);
	color: #fff;
}