
// Width container

.layout.is-box {
	width: 100%;
	max-width: $layoutWidth;
}

.layout.is-fluid {
	width: 100%;
}

// Align

.layout.is-auto {
	margin-left: auto;
	margin-right: auto;
}

// Reverse

.layout.is-reverse {
	flex-direction: row-reverse;
}

// One column
.layout .layout-main {
	width: 100%;
}

// two column

.layout.is-2column .layout-column,
.layout.is-2column .layout-main {
	width: 100%;
}

@include query(lg) {
	.layout.is-2column .layout-column {
		width: 300px;
	}

	.layout.is-2column .layout-main {
		width: calc(100% - #{300px});
	}
}

// three column

.layout.is-3column .layout-column,
.layout.is-3column .layout-main {
	width: 100%;
}

@include query(lg) {
	.layout.is-3column .layout-column {
		width: 250px;
	}

	.layout.is-3column .layout-main {
		width: calc(100% - #{250px*2});
	}
}
