// max-width: $layoutPanel;

.panel-sidebar,
.panel-content {
  transition: all .3s;
}

.panel-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $layoutPanel;
  height: 100vh;
  overflow: auto;
}

.panel-content {
  width: calc(100% - #{$layoutPanel});
  margin-left: $layoutPanel;
}


.panel.is-active .panel-content {
  width: 100%;
  margin-left: 0;
}

.panel.is-active .panel-sidebar {
  transform: translateX(-100%);
}

@include maxQuery (lg) {

  .panel-content {
    width: 100%;
    margin-left: 0;
  }

  .panel-sidebar {
    position: fixed;
    transform: translateX(-100%);
  }

  .panel.is-active .panel-sidebar {
    transform: translateX(0);
  }
}
