*,:before,:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: var(--body);
	color: var(--text);
	font-family: $fontFamily, sans-serif;
	font-size: 16px;
	line-height: 1.65;
}

// Heading

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  margin-bottom: 12px;
}

h1 {font-size: $txt-h1;}
h2 {font-size: $txt-h2;}
h3 {font-size: $txt-h3;}
h4 {font-size: $txt-h4;}
h5 {font-size: $txt-h5;}
h6 {font-size: $txt-h6;}

// Paragraph

p {
	margin: 0;
	padding: 0;
  margin-bottom: 12px;
}

// List

ul, ol {
  padding-left: 32px;
  margin-bottom: 12px;
}

ul li,
ol li {
  list-style: inherit;
}

ul.unlist,
ol.unlist {
  padding-left: 0;
}

.unlist li {list-style: none;}

// DL List

dl dt {
  font-weight: 700;
  margin-bottom: 8px;
}

dl dd {
  font-size: $txt-btn;
  margin-left: 0;
  padding-left: 8px;
  opacity: 0.8;
  border-left: 16px solid $light;
  margin-bottom: 8px;
}

dl dd:last-child {margin-bottom: 0;}

// Inline code

code {
  font-family: $fontFamily;
  font-weight: 700;
  font-size: $txt-base;
  unicode-bidi: bidi-override;
}

a {
	text-decoration: none;
	color: var(--color);
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

input, textarea, select, option, button {
	font-family: $fontFamily;
	font-weight: 500;
}

mark {
	padding: 4px;
	background: var(--light);
	color: var(--text);
	font-size: $txt-btn;
	border-radius: 4px;
}

strong, b {
	font-weight: 500;
}

// Blockquote

blockquote {
	background: var(--light);
	border-radius: 4px;
	color: rgba(var(--text-rgb), .5);
	margin: 0;
  margin-bottom: 12px;
	padding: 16px;
}

// Table
.table,
.table table {
    width: auto;
    max-width: 100%;
    color: inherit;
}

.table.is-expanded,
.table.is-expanded table {
    width: 100%;
}

.table table {
    border-collapse: collapse;
}

.table-headline {
    position: relative;
    border-bottom: 5px solid var(--light);
}

.table-headline th:hover:before {
    opacity: 1;
}

.table-headline th {
    text-align: left;
    font-weight: 500;
    padding: 16px;
}

.table-body td {
    padding: 16px;
}
