:root {
  // Color
  --body: #{$body};
  --color: #{$color};
  --color-rgb: #{getRGB($color)};
  --text: #{$text};
  --text-rgb: #{getRGB($text)};
  --opposite: #{$text};
  --opposite-rgb: #{getRGB($text)};
  --light: #{$light};
  --light-rgb: #{getRGB($light)};
  --error: #{$error};
  --error-rgb: #{getRGB($error)};
  --red: #{$error};
  --red-rgb: #{getRGB($error)};
  --green: #{$success};
  --green-rgb: #{getRGB($success)};
  --blue: #{$caution};
  --blue-rgb: #{getRGB($caution)};
  --yellow: #{$warning};
  --yellow-rgb: #{getRGB($warning)};
  --caution: #{$caution};
  --caution-rgb: #{getRGB($caution)};
  --success: #{$success};
  --success-rgb: #{getRGB($success)};
  --warning: #{$warning};
  --warning-rgb: #{getRGB($warning)};
}