// Configuración general para los estilos css
$version: 'v0.2.0'; // Version actual de Karasu
$enableColorize: true !default; // Activa los colores adicionales (caution, success, error, warning)
$enableLowColorize: true !default; // Activa los colores adicionales de tono mas claro
