// color: base
$text: #263238 !default;
$black: #181f23 !default;
$white: #fff !default;
$light: #ECEFF1 !default;
// color: alerts
$caution: #6A92EC !default;
$success: #8FA975 !default;
$warning: #B5A15C !default;
$error: #BE6161 !default;
// color: main
$colorLight: #D6DAEF !default;
$color: #5C6BC0 !default;
$colorDark: #2E355F !default;
// color: gray
$gray100: #EDEEEF !default;
$gray300: #899093 !default;
$gray500: #4A5459 !default;
$gray700: #354248 !default;