// ui: radius
$ui-radius-none: 0 !default;
$ui-radius-xs: 4px !default;
$ui-radius-md: 8px !default;
$ui-radius-lg: 16px !default;
$ui-radius-rounded: 50% !default;

// ui: shadow
$ui-shadow-none: 0 0 0 !default;
$ui-shadow-xs: 0 2px 4px !default;
$ui-shadow-md: 0 8px 12px !default;
$ui-shadow-lg: 0 12px 16px !default;