// Typography: fonts
$fontBase: "Roboto" !default;
$fontLogo: "Roboto" !default;
// Typography: headline
$size-h1: 32px !default;
$size-h2: 28px !default;
$size-h3: 24px !default;
$size-h4: 22px !default;
$size-h5: 20px !default;
$size-h6: 18px !default;
// Typography: base
$size-normal: 16px !default;
$size-button: 14px !default;
$size-sub: 12px !default;