// Flex-wrap
.wrap {
	flex-wrap: wrap;
	@include breakpoinStyle {
		flex-wrap: wrap;
	}
}

.nwrap {
	flex-wrap: nowrap;
	@include breakpoinStyle {
		flex-wrap: nowrap;
	}
}

// justify-content
.content-start {
	justify-content: flex-start;
	@include breakpoinStyle {
		justify-content: flex-start;
	}
}

.content-end {
	justify-content: flex-end;
	@include breakpoinStyle {
		justify-content: flex-end;
	}
}

.content-around {
	justify-content: space-around;
	@include breakpoinStyle {
		justify-content: space-around;
	}
}

.content-between {
	justify-content: space-between;
	@include breakpoinStyle {
		justify-content: space-between;
	}
}

.content-center {
	justify-content: center;
	@include breakpoinStyle {
		justify-content: center;
	}
}

.content-center {
	justify-content: stretch;
	@include breakpoinStyle {
		justify-content: stretch;
	}
}

// align-items
.item-start {
	align-items: flex-start;
	@include breakpoinStyle {
		align-items: flex-start;
	}
}

.item-end {
	align-items: flex-end;
	@include breakpoinStyle {
		align-items: flex-end;
	}
}

.item-center {
	align-items: center;
	@include breakpoinStyle {
		align-items: center;
	}
}

.item-center {
	align-items: stretch;
	@include breakpoinStyle {
		align-items: stretch;
	}
}

// align-self
.self-start {
	align-self: flex-start;
	@include breakpoinStyle {
		align-self: flex-start;
	}
}

.self-end {
	align-self: flex-end;
	@include breakpoinStyle {
		align-self: flex-end;
	}
}

.self-center {
	align-self: center;
	@include breakpoinStyle {
		align-self: center;
	}
}

.self-stretch {
	align-self: stretch;
	@include breakpoinStyle {
		align-self: stretch;
	}
}

// Flex direction
.row {
	flex-direction: row;
	@include breakpoinStyle {
		flex-direction: row;
	}
}

.column {
	flex-direction: column;
	@include breakpoinStyle {
		flex-direction: column;
	}
}

.row-reverse {
	flex-direction: row-reverse;
	@include breakpoinStyle {
		flex-direction: row-reverse;
	}
}

.column-reverse {
	flex-direction: column-reverse;
	@include breakpoinStyle {
		flex-direction: column-reverse;
	}
}
