@for $i from 1 through $layout-grid-columns {
	.c#{$i} {
		width: 100%/12 * $i;
	}
}

@include query(xs) {
	@for $i from 1 through $layout-grid-columns {
		.c#{$i}-xs {
			width: 100%/12 * $i;
		}
	}
}

@include query(sm) {
	@for $i from 1 through $layout-grid-columns {
		.c#{$i}-sm {
			width: 100%/12 * $i;
		}
	}
}

@include query(md) {
	@for $i from 1 through $layout-grid-columns {
		.c#{$i}-md {
			width: 100%/12 * $i;
		}
	}
}

@include query(lg) {
	@for $i from 1 through $layout-grid-columns {
		.c#{$i}-lg {
			width: 100%/12 * $i;
		}
	}
}

@include query(xlg) {
	@for $i from 1 through $layout-grid-columns {
		.c#{$i}-xlg {
			width: 100%/12 * $i;
		}
	}
}
