.align {
	&-left {
		text-align: left;
		@include breakpoinStyle {text-align: left;}
	}
	&-center {
		text-align: center;
		@include breakpoinStyle {text-align: center;}
	}
	&-right {
		text-align: right;
		@include breakpoinStyle {text-align: right;}
	}
}