.ani {
	animation-duration: .2s;

	// Fade
	@include animation($fadeAnimation);

	// Pulse
	@include animationPulse($pulseAnimation);
}

.ani-lt {
	transform-origin: left top;
}

.ani-mt {
	transform-origin: center top;
}

.ani-rt {
	transform-origin: right top;
}

.ani-lb {
	transform-origin: left bottom;
}

.ani-mb {
	transform-origin: center bottom;
}

.ani-rb {
	transform-origin: right bottom;
}

	
.ani-02s {animation-duration: .2s;}
.ani-05s {animation-duration: .5s;}
.ani-07s {animation-duration: .7s;}
.ani-1s {animation-duration: 1s;}
.ani-12s {animation-duration: 1.2s;}
.ani-15s {animation-duration: 1.5s;}

.ani-slow {animation-duration: 2s;}
.ani-fast {animation-duration: .3s;}

.ani-infinite {
	animation-iteration-count: infinite;
}

.ani-delay-02s {animation-delay: .2s;}
.ani-delay-05s {animation-delay: .5s;}
.ani-delay-07s {animation-delay: .7s;}
.ani-delay-1s {animation-delay: 1s;}
.ani-delay-12s {animation-delay: 1.2s;}
.ani-delay-15s {animation-delay: 1.5s;}

.ani-linear {animation-timing-function: linear;}
.ani-ease {animation-timing-function: ease;}
.ani-ease-in {animation-timing-function: ease-in;}
.ani-ease-out {animation-timing-function: ease-out;}
.ani-ease-in-out {animation-timing-function: ease-in-out;}
.ani-forwards {animation-fill-mode: forwards;}
.ani-backwards {animation-fill-mode: backwards;}
.ani-both {animation-fill-mode: both;}