/*=> Embed */
.embed {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
	display: block;

	&.aspect-3\:2 {
		$aspect-ratio: (2 / 3) * 100%;
		padding-top: $aspect-ratio;
	}

	&.aspect-4\:3 {
		$aspect-ratio: (3 / 4) * 100%;
		padding-top: $aspect-ratio;
	}

	&.aspect-16\:9 {
		$aspect-ratio: (9 / 16) * 100%;
		padding-top: $aspect-ratio;
	}

	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}