/*=> Position */

.pos {
	
	&-relative {
		position: relative;
		@include breakpoinStyle {position: relative;}
	}

	&-absolute {
		position: absolute;
		@include breakpoinStyle {position: absolute;}
	}

	&-fixed {
		position: fixed;
		@include breakpoinStyle {position: fixed;}
	}

	&-left {
		left: 0;
		&-100 {
			left: 100%;
		}
	}

	&-right {
		right: 0;
		&-100 {
			right: 100%;
		}
	}

	&-top {
		top: 0;
		&-100 {
			top: 100%;
		}
	}

	&-bottom {
		bottom: 0;
		&-100 {
			bottom: 100%;
		}
	}
}