// navbar
.navbar {
  //navbar: variables css
  --navbar-bg-color: #fff;
  --navbar-container-width: #{$layout-container};
  --navbar-height: 76px;
  --navbar-padding: 16px;

  padding: 8px 0;
  background: var(--navbar-bg-color);
  box-shadow: 0 4px 32px rgba(#000, .1);
  @include query(md) {
    padding: 0;
  }
}

// navbar: inner
.navbar-inner {
  padding: 0 var(--navbar-padding);
  max-width: var(--navbar-container-width);
  margin: auto;
  @include query(md) {
    height: var(--navbar-height);
  }
}

// navbar: logo
.navbar-logo {
  line-height: calc(var(--navbar-height) - 24px);
}
.navbar-logo__text {
  font-size: $txt-h4 !important;
  color: var(--text);
  margin: 0;
  display: block;
}

.navbar-logo__text[href]:hover {
  text-decoration: none;
  color: var(--color);
}

// navbar: action
.navbar-action {
  margin-right: 16px;
  color: var(--text);
  cursor: pointer;
}

.navbar-action .material-icons,
.navbar-action .fas,
.navbar-action .fab,
.navbar-action .fa {
  display: flex;
}

.navbar-action:last-child {margin-right: 0;}

// navbar: menu
.navbar-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  list-style: none;
  flex-grow: 1;
}

.navbar-menu ul li a {
  display: block;
  padding: 12px 8px;
  color: var(--text);
  font-weight: 500;
  font-size: $txt-btn;
  text-align: center;
  transition: color .16s, background .16s;

  @include query (sm) {
    font-size: $txt-base;
  }
  
  @include query (md) {
    text-align: inherit;
    padding: 0 16px;
    line-height: calc(var(--navbar-height) - 24px);
  }
}

.navbar-menu ul li a:hover {
  background: rgba(var(--color-rgb), .1);
  color: var(--color);
  border-radius: 4px;
  text-decoration: none;
}

.navbar-menu ul li a .material-icons,
.navbar-menu ul li a .fas,
.navbar-menu ul li a .fab,
.navbar-menu ul li a .fa {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1.5px;
  margin-right: 12px;
}

// navbar: opposite (color)
.navbar.is-opposite {
  --navbar-bg-color: var(--text);
}

.navbar.is-opposite .navbar-inner {
--text: #fff;
}