.alert {
  --bg: var(--light);
  --txt: var(--text);

  background: var(--bg);
  color: var(--txt);
  padding: 16px;
  border-radius: 4px;
}

// Alert icon

.alert .alert-icon {
  font-size: 24px;
  margin-right: 8px;
  opacity: 0.8;
}

// Alert color

.alert.is-red {
  --bg: var(--red);
  --txt: #fff;
}

.alert.is-green {
  --bg: var(--green);
  --txt: #fff;
}

.alert.is-blue {
  --bg: var(--blue);
  --txt: #fff;
}

.alert.is-yellow {
  --bg: var(--yellow);
  --txt: #fff;
}

.alert.is-opposite {
  --bg: var(--opposite);
  --txt: #fff;
}