.collapse-trigger {
  margin-bottom: 8px;
}

.collapse-trigger:last-child {margin-bottom: 0;}

.collapse-content {
  padding: 16px;
  display: none;
}

.collapse-content.is-active {
  display: block;
}

// Collapse icon

.collapse-trigger {
  position: relative;
}

.collapse-trigger:before {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(90deg);
}

.collapse-trigger:after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: calc(100% / 2 - 2px);
  transform: rotate(0);
}

// Collapse active
.collapse-trigger.is-active:before {transform: rotate(45deg);}
.collapse-trigger.is-active:after {transform: rotate(-45deg);}