// Color
$body: #fff !default;
$color: #6a74ec !default;
$caution: #6a92ec !default;
$success: #8fa975 !default;
$error: #be6161 !default;
$warning: #b5a15c !default;
$text: #313131 !default;
$light: #efefef !default;
