// Texto de encabezado
$txt-h1: 42px !default;
$txt-h2: 32px !default;
$txt-h3: 28px !default;
$txt-h4: 24px !default;
$txt-h5: 18px !default;
$txt-h6: 14px !default;

// Texto base
$txt-base: 16px !default;
$txt-btn: 14px !default;
$txt-sub: 12px !default;


// Tipo de family
$fontFamily: "Roboto" !default; // Global
$fontLogo: "Roboto" !default; // Logo
